body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1456 {
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458 {
  position:absolute;
  left:50px;
  top:76px;
  width:39px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
